{% extends 'base.html' %}
{% block title %}Comments{% endblock %}
{% block username %}
{{username}}
{% endblock %}
{%block style%}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
{%endblock%}
{% block content %}

<section
class="w-100 px-4 py-5 vh-100 "

>
<div class="container h-100">
<div
class="row d-flex justify-content-center align-items-center h-100"
>
<div class="col-12 col-md-9 col-lg-7 col-xl-7">
<div class="card" style="border-radius: 15px">
  <div class="card-body p-5">
<h3 align="center">Comments</h3>
{% if comments %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Comment</th>
        <th scope="col">Author</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
        {% for comment in comments %}
      <tr>
        <th scope="row">{{comment.comment}}</th>
        <td>{{comment.username}}</td>
        <td>{{comment.timestamp}}</td>
      </tr>
        {% endfor %}
    </tbody>
    </table>
    {% else %}
    <p>No comments yet</p>
    {% endif %}
     
   
 

    
   
    
    <form action="" method="POST">
        <input type="comment" name="comment" placeholder="add comment...">
        <button type="submit">Add Comment</button>
    </form>


    {% endblock %}