{% extends 'base.html' %} {% block title %}My Profile{% endblock %} {% block
style%} a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }{% endblock %} {% block username %} {{current_user}} {% endblock %} {% block
content %}
<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div
            class="rounded-top text-white d-flex flex-row"
            style="background-color: #000; height: 200px"
          >
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                alt="Generic placeholder image"
                class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1"
              />

              {% if username!=current_user  %}
              {% if already_follow==False %}
             
                <button
                type="button"
                class="btn btn-outline-success"
                data-mdb-ripple-color="dark"
                style="z-index: 1">
                <a href="/follow/{{username}}" class="link-success">
                Follow</a>
              </button>
              
        
              
              {%else%}
              
                <button
                type="button"
                class="btn btn-outline-danger"
                data-mdb-ripple-color="dark"
                style="z-index: 1"
              >
              <a href="/unfollow/{{username}}"  class="link-danger">
                Unfollow</a>
              </button>
              
              {% endif%}
              {% else%}
              <button
              type="button"
              class="btn btn-outline-dark"
              data-mdb-ripple-color="dark"
              style="z-index: 1"
            >
            <a class="link-dark" href="/edit/{{current_user}}">
              Edit Profile</a>
            </button>
              {% endif%}
            </div>
            <div class="ms-3" style="margin-top: 130px">
              <h5>{{username}}</h5>
              
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5">{{user.number_of_posts}}</p>
                <p class="small text-muted mb-0">Posts</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5"><a href='/{{username}}/followers' >{{user.number_of_followers}}</a></p>
                <p class="small text-muted mb-0">Followers</p>
              </div>
              <div>
                <p class="mb-1 h5"><a href='/{{username}}/following' >{{user.number_of_following}}</a></p>
                <p class="small text-muted mb-0">Following</p>
              </div>
            </div>
          </div>
         
        
          <div class="card-body p-4 text-black">
            <div class="row row-cols-3 row-cols-md-2 g-2">
                {% for post in posts %}
                <div class="col" align="center">
                  <div class="card h-100">
                    
                    <img src="{{post.image_url}}"  height="300" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{post.title}}</h5>
                      <h7 class="card-text">{{post.content}}</h7><br>
                      <h7 class="card-text">Likes <a href="/likes/{{post.post_id}}/{{username}}" class="card-link link-primary">{{post.number_of_likes}}</a></h7>
                      <h7 class="card-text">Comments <a href="/comment/{{post.post_id}}/{{username}}" class="card-link link-success">{{post.number_of_comments}}</a></h7>
                      {% if post.username==current_user %}
                      <a href="/edit/{{username}}/post/{{post.post_id}}"><button type="button" class="btn btn-outline-success">Edit</button></a>
                      <a href="/delete/{{username}}/post/{{post.post_id}}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
                      {% endif %}
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Posted {{timestamp - post.timestamp}} ago</small>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
             
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
