<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{username}}'s' Profile</title>
</head>
<body>
    <h1>{{username}}'s' Profile</h1>
    {% if username!=current_user  %}
    {% if already_follow==False %}
    <form action="/follow/{{username}}" >
        <button type="submit">Follow</button>
    </form>
    {%else%}
    <form action="/unfollow/{{username}}" >
        <button type="submit">UnFollow</button>
    </form>
    {% endif%}
    {% else%}
    <form action="/edit/{{current_user}}" method="GET">
        <button type="submit">Edit</button>
    </form>
       <a style="color: red;" href="/delete/{{username}}">delete user</a>

    {% endif %}
    <h2><a href="/{{username}}/followers">Followers </a>: {{user.number_of_followers}}</h2>
    <h2><a href="/{{username}}/following">Following </a>: {{user.number_of_following}}</h2>
    <h2>Posts : {{user.number_of_posts}}</h2>

    {% if posts %}
    <h3>My posts</h3>
    <table>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Image</th>
            <th>Time Created</th>
            <th>No of Likes</th>
            <th>No of Comments</th>
            <th>Action</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{post.title}}</td>
            <td>{{post.content}}</td>
            <td><img src="{{post.image_url}}" alt="image" width="100" height="100"></td>
            <td>{{post.timestamp}}</td>
            <td>{{post.number_of_likes}}</td>
            <td>{{post.number_of_comments}}</td>
            <td>
                <a href="/post/{{post.post_id}}">View</a>
                {% if post.username==current_user %}
                <a href="/edit/{{current_user}}/post/{{post.post_id}}">Edit</a>
                <a href="/delete/{{current_user}}/post/{{post.post_id}}">Delete</a>
                {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3>No posts yet</h3>
    {% endif %}
    <h1><a href="/home">Home</a><h1>
     
    

</body>
</html>