{% extends "base.html" %}

{% block content %}
  <h1>{{ title }}</h1>
  <form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.title.label }}
      {{ form.title(class="form-control") }}
      {% if form.title.errors %}
        <div class="invalid-feedback">
          {% for error in form.title.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.content.label }}
      {{ form.content(class="form-control") }}
      {% if form.content.errors %}
        <div class="invalid-feedback">
          {% for error in form.content.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.image.label }}
      {{ form.image(class="form-control-file") }}
      {% if form.image.errors %}
        <div class="invalid-feedback">
          {% for error in form.image.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
