{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
  <h1>Register</h1>
  <form method="POST">
    {{ form.hidden_tag() }}
    <p>
      {{ form.username.label }}<br>
      {{ form.username() }}
    </p>
    
    <p>
      {{ form.password.label }}<br>
      {{ form.password() }}
    </p>
    <p>
      {{ form.password2.label }}<br>
      {{ form.password2() }}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
{% endblock %}
