{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col-md-8">
    <h1 class="mb-4">{{ post.title }}</h1>
    <p class="lead mb-4">By {{ post.user.username }}</p>
    <hr />
    {% if post.image_url %}
    <img
      src="/static/img/uploads/{{post.image_url }}"
      alt="{{ post.title }}"
      class="img-fluid rounded mb-2"
      width="800"
      height="400"
    />
    {% endif %}
    <p class="mb-4">{{ post.content }}</p>
    <p class="text-muted">
      <small>{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</small>
    </p>
    <p class="text-muted">
        <small><a href="{{ url_for('post_likes', post_id=post.id) }}">{{ post.likes | length }} </a>likes</small>
        <small>{{ post.comments |length }} comments</small>
    </p>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-4">Actions</h5>
        {% if current_user == post.user %}
        <a
          href="{{ url_for('edit_post', post_id=post.id) }}"
          class="btn btn-primary btn-block mb-2"
          >Edit</a
        >
        <form
          action="{{ url_for('delete_post', post_id=post.id) }}"
          method="POST"
        >
          <input type="hidden" name="_method" value="DELETE" />
          <button
            type="submit"
            class="btn btn-danger btn-block"
            onclick="return confirm('Are you sure you want to delete this post?')"
          >
            Delete
          </button>
        </form>
        {% else %} {% if current_user.is_following(post.user) %}
        <form
          action="{{ url_for('unfollow', user_id=post.user.id) }}"
          method="POST"
        >
          <input type="hidden" name="_method" value="PUT" />
          <button type="submit" class="btn btn-danger btn-block mb-2">
            Unfollow {{ post.user.username }}
          </button>
        </form>
        {% else %}
        <form
          action="{{ url_for('follow', user_id=post.user.id) }}"
          method="POST"
        >
          <input type="hidden" name="_method" value="PUT" />
          <button type="submit" class="btn btn-primary btn-block mb-2">
            Follow {{ post.user.username }}
          </button>
        </form>
        {% endif %} {% endif %} {% if current_user.is_authenticated %} {% if
        current_user.is_liking(post) %}
        <form
          action="{{ url_for('unlike_post', post_id=post.id) }}"
          method="POST"
        >
          <input type="hidden" name="_method" value="PUT" />
          <button type="submit" class="btn btn-danger btn-block mb-4">
            Unlike
          </button>
        </form>
        {% else %}
        <form
          action="{{ url_for('like_post', post_id=post.id) }}"
          method="POST"
        >
          <input type="hidden" name="_method" value="PUT" />
          <button type="submit" class="btn btn-primary btn-block mb-4">
            Like
          </button>
        </form>
        {% endif %}
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title">Comments</h5>
            {% for comment in post.comments %}
            <p class="mb-1">
              {{ comment.user.username }}: {{ comment.comment }} : {{
              comment.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}
            </p>
            {% endfor %}
            <h1>Add a Comment</h1>
            <form
              action="{{ url_for('add_comment', post_id=post.id) }}"
              method="post"
            >
              {{ form.hidden_tag() }}
              <div class="form-group">
                {{ form.comment.label(class="form-control-label") }} {% if
                form.comment.errors %} {{ form.comment(class="form-control
                form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.comment.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %} {{ form.comment(class="form-control form-control-lg")
                }} {% endif %}
              </div>
              <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
              </div>
            </form>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
